<div class="row">
    <div class="col-md-6">
        Ticket 
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <input type="text" class="form-control" data-bind="value: TicketsModel().CustomerTicketID">
        </div>
    </div>
    <div class="col-md-2">
    </div>

</div>

