

<div class="col-md-8">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <p class="panel-title">Daily Banking Update Completed</p>


            </div>
            <div class="panel-body">
               
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><p><i>Bank Update Details:</i>&nbsp;&nbsp;You have banked £12.00 to the Natwest Bank Account.</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
            </div>

        </div>

    </div>




</div>
<div class="col-md-4"></div>
