

<div class="col-md-8">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <p class="panel-title">Daily Banking Update</p>

              
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><label style="color: red;">Important: Please ensure you have allocated all cash receipts before continuing.</label> </div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><label>1. Please enter the amount to be banked*:</label> <input type="text" class="form-control" placeholder="12.00" required /></div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><label>2. Amount Allocated:</label> <input type="text" class="form-control" placeholder="12.00" disabled /></div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><p><i>3. Post Journal</i>&nbsp;&nbsp;<input type="checkbox" required /></p></div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><label>4. Select Bank Account & Amount*</label> </div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-4">
                        <select type="text" class="form-control">
                            <option selected>Natwest</option>
                            <option>Bank</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="12.00" />
                    </div>

                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-4">
                        <select type="text" class="form-control">
                            <option>Natwest</option>
                            <option selected>Bank</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>

                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8"><a href="~/Report/ConfirmBankedAmount" class="btn btn-default">Update</a>&nbsp;<a href="" class="btn btn-default">Cancel</a></div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
            </div>
            </div>

        </div>




        </div>
        <div class="col-md-4"></div>
