@using System.Web.Script.Serialization;
@model PrimeActs.Domain.ViewModels.TicketEditModel

<script src="~/KJScripts/Helper.js"></script>
<script src="~/TypeScripts/Ticket/TicketViewModel.js"></script>
<script src="~/TypeScripts/Ticket/TicketDetailsViewModel.js"></script>
@{string data = new JavaScriptSerializer().Serialize(Model);}
<div class="col-md-12" id="@ViewBag.PanelName">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <p class="panel-title">Ticket Summary</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 col-md-offset-10">
                &nbsp;
            </div>
        </div>
        <div class="panel-body">
            <div class="row header">
                <div class="col-sm-4">
                    <div class="well">
                        <p>
                            Ticket Reference:<strong>
                                <span data-bind="text: TicketModel().TicketReference"></span>
                            </strong>
                        </p>
                        <p>
                            Currency :<strong>
                                <span data-bind="text: TicketModel().CurrencyName"></span>
                            </strong>
                        </p>

                        <p>Ticket Date: <span data-bind="text: TicketModel().TicketDate"></span></p>
                        <p>Sale Type: <span data-bind="if: TicketModel().IsCashSale">Cash</span><span data-bind="ifnot: TicketModel().IsCashSale">Credit</span></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="well">
                        <p>PO Number: <span data-bind="text: TicketModel().PONumber"></span></p>
                        <p>
                            Customer:<strong>
                                <span data-bind="text: TicketModel().CustomerCompanyName"></span>
                            </strong>
                        </p>
                        <p>
                            Sold by: <span data-bind="text: TicketModel().SalesPersonName"></span>
                        </p>

                        <p>
                            Notes: <span data-bind="text: TicketModel().Notes"></span>
                        </p>
                    </div>
                </div><!--/col-->

                <div class="col-sm-4">
                    <div class="well">
                        <p>Updated By:<span data-bind="text: TicketModel().CreatedBy"></span></p>
                        <p>Updated:<span data-bind="text: TicketModel().CreatedDate"></span></p>
                        <p>Created By:<span data-bind="text: TicketModel().CreatedBy"></span></p>
                        <p>Created:<span data-bind="text: TicketModel().CreatedDate"></span></p>
                        <p></p>
                    </div>
                </div>
            </div><!--/row-->
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <p class="panel-title">Ticket Items</p>
        </div>
        <div class="panel-body">
            <div id="no-more-tables">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="col-xs-2 col-xs-offset-1">Type</th>
                            <th class="col-xs-4 col-xs-offset-1">Description test</th>
                            <th class="col-xs-2 numeric">Qty</th>
                            <th class="col-xs-2 numeric">U Cost</th>
                            <th class="col-xs-2 numeric">Line Total</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: { data: TicketModel().TicketItems, as: 'row' }">
                        <tr>
                            <td data-title="id">
                                <span data-bind="text: $index"></span>
                            </td>
                            <td data-title="Type">
                                <span data-bind="text: TransferTypeName"></span>
                            </td>
                            <td data-title="Description">
                                <span data-bind="text: TicketItemDescription"></span>
                            </td>                           
                            <td data-title="Qty">
                                <span data-bind="text: TicketItemQuantity"></span>
                            </td>
                            <td data-title="U Cost">
                                <span data-bind="text: TicketItemUnitPrice"></span>
                            </td>
                            <td data-title="Total" class="">
                                <span data-bind="text: TicketItemTotalPrice"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="divider">

                        @*<tr>
                                <td colspan="9" align="right">
                                    <button class="btn btn-success" data-bind="click: insert"><i class="fa fa-usd"></i> Add Item</button>
                                </td>
                            </tr>*@
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-5 notice">
                    @*<div class="well">
                            Additional Informaiton goes here like notes, last update, created..... etc......
                        </div>*@
                </div>
                <div class="col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-5 recap">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Total</strong>
                                </td>
                                <td>
                                    <span data-bind="text: TicketModel().TicketSubTotal" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<button class="btn btn-info" data-bind="event: { click: save }"><i class="fa fa-print"></i> Save</button>*@
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <button class="btn btn-default col-md-offset-10" data-bind="click: function() { openCreateTransfer(subscriberReplaceTab); }">
            Create New Transfer
        </button>
    </div>
</div>

<script type="text/javascript">
    var panelName = '@(ViewBag.PanelName)';
    var ticketDetailsModel = new TicketDetailsViewModel(@Html.Raw(data), panelName);
    ticketDetailsModel.pageLoadState();
    ko.applyBindings(ticketDetailsModel, document.getElementById(panelName));
</script>