<div class="panel panel-default">
    <div class="panel panel-title">Tickets</div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-2 pull-left">Search Reference</div>

            <div class="col-md-2 pull-left">
                <input type="text" placeholder="Reference"/><br/><br/>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 pull-left">or Customer Code:</div>

            <div class="col-md-2 pull-left">
                <input type="text" placeholder="Customer Code"/><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 pull-left"> or Customer Name:</div>

            <div class="col-md-2 pull-left">
                <input type="text" placeholder="Name"/><br/>
            </div>
        </div>
        <div class="row">
            <br/>
            <br/>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="date" placeholder="From" value="Search"/>
            </div>
            <div class="col-md-2">
                <input type="date" placeholder="To" value="Search"/>
            </div>
            <input type="button" value="search"/>
        </div>


    </div>
</div>