<div class="col-md-5">
    <ul>
        <li>

            <div class="col-md-12">
                <div class="col-md-1" style="color: red;">-115</div>
                <div class="col-md-2" style="color: black;">B:&nbsp;TU090055</div>
                <div class="col-md-1" style="color: black;">BERG</div>
                <div class="col-md-1" style="color: black;">APGS</div>
                <div class="col-md-5" style="color: red;">Brand size type wt kg</div>
                <div class="col-md-1" style="color: black;">4.50</div>

            </div>
            @*<table border="0">
                <tbody>
                    <tr>
                        <td>
                            <table border="0">
                                <tr>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:medium; color:red;">-115</td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:x-small; color:BLACK;">222</td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:small; color:red;">B</td>
                                    <td class="col-md-4" style="font-weight:bolder; font-size:x-small; color:red;">Granny Smith Apples - Potatoes</td>
                                    <td class="col-md-1" style="font-weight:bold; font-size:small; color:red"><u>TU973873</u></td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:x-small; color:red;">12/06</td>
                                    <td class="col-md-3" style="font-weight:bolder; font-size:x-small; color:red;">brand med x12 10.5kg</td>

                                </tr>
                            </table>



                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0">
                                <tr>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:large; color:grey;">-15</td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:x-small; color:grey">25</td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:small; color:grey;">B</td>
                                    <td class="col-md-4" style="font-weight:bolder; font-size:x-small; color:grey;">Granny Smith Apples - Potatoes</td>
                                    <td class="col-md-1" style="font-weight:bold; font-size:small; color:grey"><u>TU973873</u></td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:x-small; color:grey">12/06</td>
                                    <td class="col-md-3" style="font-weight:bolder; font-size:x-small; color:grey">brand med x12 10.5kg</td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0">
                                <tr>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:medium; color:green;">115</td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:x-small; color:green;">222</td>
                                    <td class="col-md-1" style="font-weight:bolder; font-size:small; color:green;">B</td>
                                    <td class="col-md-4" style="font-weight:bolder; font-size:x-small; color:green;">Granny Smith Apples</td>
                                    <td class="col-md-1" style="font-weight:bold; font-size:small; color:green"><u>TU973873</u></td>
                                    
                                    <td class="col-md-1" style="font-weight:bolder; font-size:x-small; color:green;">12/06</td>
                                    <td class="col-md-3" style="font-weight:bolder; font-size:x-small; color:green;">brand med x12 10.5kg</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </tbody>


            </table>*@

        
        </li>


    </ul>


</div>
<div class="col-md-4">

    Adding text.


</div>