<div>
    <!-- Centered Tabs -->

    <ul class="tabs tabstop">
        <li>
            <a href="/Produce/BookingIn">Sales/Tickets</a>
        </li>
        <li>
            <a href="/Produce/accountsales">Account Sales</a>
        </li>
        <li>
            <a href="#">Cash Reciepts</a>
        </li>
        <li>
            <a href="#">Consignments</a>
        </li>
        <li>
            <a href="#">Setup</a>
        </li>
        <li>
            <a href="#">Reports</a>
        </li>
    </ul>
</div>
<div class="panel-headingnavy">


    <ul class="tabs tabsbottom">

        <li>
            <a href="#">Division</a>
        </li>
        <li>
            <a href="#">Company</a>
        </li>
        <li>
            <a href="#">Department</a>
        </li>
        <li>
            <a href="#">Produce</a>
        </li>

    </ul>

</div>