<header>

<nav class="navbar navbar-navy navbar-static-top">

    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only" style="color: white">Toggle navigation</span>
                <span class="icon-bar" style="color: white"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                              <img src="~/Content/images/PA icon only.png" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">List</a>
                        </li>
                        <li>
                            <a href="#">Cash Entry</a>
                        </li>
                        <li>
                            <a href="#">Journal</a>
                        </li>
                        <li>
                            <a href="#">Account Enquiry</a>
                        </li>
                        <li>
                            <a href="#">Cheques Recieved</a>
                        </li>
                        <li role="separator" class="divider">&nbsp;</li>
                        <li>
                            <a href="/Invoice/Index">Invoices</a>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Suppliers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Cash Entry</a>
                        </li>
                        <li>
                            <a href="#">Journal</a>
                        </li>
                        <li>
                            <a href="#">Account Enquiry</a>
                        </li>
                        <li>
                            <a href="#">Suppliers</a>
                        </li>
                        <li role="separator" class="divider">&nbsp;</li>

                       

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Bank Reconciliation</a>
                        </li>
                        <li>
                            <a href="#">Journal</a>
                        </li>
                        <li>
                            <a href="#">Petty Cash</a>
                        </li>
                        <li>
                            <a href="#">Account Enquiry</a>
                        </li>
                        <li>
                            <a href="#">Pre-Pay & Accruals</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">End of Period Routines</a>
                        </li>
                        <li>
                            <a href="#">Reports</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trading<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Account Sales</a>
                        </li>
                        <li>
                            <a href="~/Consignment/Index">Consignments</a>
                        </li>
                        <li>
                            <a href="~/Charge/Index">Charges</a>
                        </li>
                        <li>
                            <a href="~/Ticket/Index">Tickets/Sales</a>
                        </li>
                        <li>
                            <a href="~/Return/Index">Returns</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">Invoices</a>
                        </li>

                    </ul>
                </li>
          
            </ul>
            <ul class="nav navbar-nav">

              
            </ul>


            <ul class="nav navbar-nav">
              
                
            </ul>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Debtors List</a>
                        </li>
                        <li>
                            <a href="~/Consignment/Index">Aged Summary</a>
                        </li>
                        <li>
                            <a href="~/Charge/Index">Overdue Accounts</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/images/iconsettingsorange.png" />Settings<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/Produce/Index">Produce</a>
                        </li>
                        <li>
                            <a href="~/Produce/Index">Porterage</a>
                        </li>
                        <li>
                            <a href="~/Produce/Index">VAT Rate</a>
                        </li>
                        <li>
                            <a href="~/Produce/Index">Despatch Codes</a>
                        </li>
                        <li>
                            <a href="~/Company/Index">Company</a>
                        </li>
                        <li>
                            <a href="~/Division/Index">Division</a>
                        </li>
                        <li>
                            <a href="~/Department/Index">Department</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">Setup</a>
                        </li>

                    </ul>



                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/images/IconNew-orange.png" /> New<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/Consignment/CreateConsignment">Consignment</a>
                        </li>
                        <li>
                            <a href="~/Ticket/CreateTicket">Ticket</a>
                        </li>
                        <li>
                            <a href="~/Invoice/RunInvoice">Invoice</a>
                        </li>


                    </ul>
                </li>
                <li class="dropdown">
                 
              

                </li>
              
                </ul>
               
            
       

            <ul class="nav navbar-nav navbar-right">

                @Html.Partial("_LoginPartial")

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</header>