<div>
    <!-- Centered Tabs -->

    <ul class="tabs tabstop">
        <li>
            <a href="/Produce/BookingIn">Sales/Tickets</a>
        </li>
        <li>
            <a href="/Produce/accountsales">Account Sales</a>
        </li>
        <li>
            <a href="#">Cash Reciepts</a>
        </li>
        <li>
            <a href="#">Consignments</a>
        </li>
        <li>
            <a href="#">Setup</a>
        </li>
        <li>
            <a href="#">Reports</a>
        </li>
    </ul>
</div>
<div class="panel-headingnavy">


</div>