@model PrimeActs.UI.Models.SubNavModel
<div class="col-md-12">
<nav class="navbar navbar-primary bg-primary" role="navigation" id="topmenuSale">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#one">Invoices</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#two">Journal</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#three">FX Journal</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Four">Reports</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Five">Setup</a>
        </li>
    </ul>
</nav>
<!-- <nav class="navbar navbar-primary bg-primary" role="navigation" id="topmenuPurchase">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#one">Journal</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#two">Amend Payment Due Date</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#three">Invoices</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Four">Account Enquiry</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Five">Search Batch</a>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-primary bg-primary" role="navigation" id="topmenuNominal">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#one">Journal</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#two">Banking Update</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#three">FX Re-Valuation</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Four"></a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Five">Pre-Pay &amp; Accruals</a>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-primary bg-primary" role="navigation" id="topmenuTrading">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#one">Account Sales</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#two">Transfer Sales</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#three">Consignments</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Four">Sales</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Five">Returns</a>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-primary bg-primary" role="navigation" id="topmenuSetting">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#one">Countries</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#two">Currency</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#three">Deduction Types</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Four">Intrastat</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="collapse" data-target="#Five">Produce</a>
        </li>
    </ul>
</nav>
-->
<nav class="navbar navbar-default" role="navigation" id="submenu">
    <ul class="nav navbar-nav collapse" id="one">
        <li>
            <a href="#" id="">Sundry Invoices Due</a>
        </li>
        <li>
            <a href="#" id="">Search Invoices</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="two">
        <li>
            <a href="#" id="">Journal Entry</a>
        </li>

    </ul>
    <ul class="nav navbar-nav collapse" id="three">
        <li>
            <a href="#" id="">FX Diff Journal</a>
        </li>

    </ul>
    <ul class="nav navbar-nav collapse" id="Four">
        <li>
            <a href="#" id="">Payments Due</a>
        </li>
        <li>
            <a href="#" id="">Pre-Payments</a>
        </li>
        <li>
            <a href="#" id="">Cheques Recieved</a>
        </li>
        <li>
            <a href="#" id="">Cheques Sent</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="Five">
        <li>
            <a href="~/Company/Index" id="">Company</a>
        </li>
        <li>
            <a href="~/Division/Index" id="">Division</a>
        </li>
        <li>
            <a href="~/Department/Index" id="">Department</a>
        </li>
        <li>
            <a href="~/Produce/Index" id="">Produce</a>
        </li>
        <li>
            <a href="~/usersadmin/Index" id="">Users</a>
        </li>
        <li>
            <a href="~/Rolesadmin/Index" id="">Roles</a>
        </li>

    </ul>

    <ul class="nav navbar-nav collapse" id="Six">
        <li>
            <a href="#" id="">Tickets</a>
        </li>
        <li>
            <a href="#" id="">Consignments</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="Seven">
        <li>
            <a href="~/UsersAdmin/Index" id="">Users</a>
        </li>
        <li>
            <a href="~/RolesAdmin/Index" id="">Roles</a>
        </li>
        <li>
            <a href="~/Permissions/Index" id="">Permission</a>
        </li>
    </ul>

</nav>
<nav class="navbar navbar-default" role="navigation" id="subsubmenu">
    <ul class="nav navbar-nav collapse" id="one">
        <li>
            <a href="#" id="">sdfkjh</a>
        </li>
        <li>
            <a href="#" id="">sdfdsf</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="two">
        <li>
            <a href="#" id="">Journal Entry</a>
        </li>

    </ul>
    <ul class="nav navbar-nav collapse" id="three">
        <li>
            <a href="#" id="">FX Diff Journal</a>
        </li>

    </ul>
    <ul class="nav navbar-nav collapse" id="Four">
        <li>
            <a href="#" id="">Payments Due</a>
        </li>
        <li>
            <a href="#" id="">Pre-Payments</a>
        </li>
        <li>
            <a href="#" id="">Cheques Recieved</a>
        </li>
        <li>
            <a href="#" id="">Cheques Sent</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="Five">
        <li>
            <a href="~/Company/Index" id="">Company</a>
        </li>
        <li>
            <a href="~/Division/Index" id="">Division</a>
        </li>
        <li>
            <a href="~/Department/Index" id="">Department</a>
        </li>
        <li>
            <a href="~/Produce/Index" id="">Produce</a>
        </li>
        <li>
            <a href="~/usersadmin/Index" id="">Users</a>
        </li>
        <li>
            <a href="~/Rolesadmin/Index" id="">Roles</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="Six">
        <li>
            <a href="#" id="">Tickets</a>
        </li>
        <li>
            <a href="#" id="">Consignments</a>
        </li>
    </ul>
    <ul class="nav navbar-nav collapse" id="Seven">
        <li>
            <a href="~/UsersAdmin/Index" id="">Users</a>
        </li>
        <li>
            <a href="~/RolesAdmin/Index" id="">Roles</a>
        </li>
        <li>
            <a href="~/Permissions/Index" id="">Permission</a>
        </li>
    </ul>
</nav>

</div>
<script type="text/javascript">

    $(document).ready(function() {

        $('.collapse').on('shown.bs.collapse', function(e) {
            $('.collapse').not(this).removeClass('in');
        });

        $('[data-toggle=collapse]').click(function(e) {
            $('[data-toggle=collapse]').parent('li').removeClass('active');
            $(this).parent('li').toggleClass('active');
        });

    });
    $('#@Model.ParentSubNav').parent('li').addClass('active');
    $('#@Model.ParentSubNav').attr("class", "");
    $('#@Model.ParentSubNav').attr("aria-expanded", "true");
    $('#@Model.ParentSubNav').focus();
    $('#@Model.ChildSubNav').addClass('in');
    $('#@Model.GrandChildSubNav').addClass('in');

</script>