<div>
    <!-- Centered Tabs -->

    <ul class="tabs tabstop">
        <li>
            <a href="/Produce/BookingIn">Sales/Tickets</a>
        </li>
        <li>
            <a href="/Produce/accountsales">Account Sales</a>
        </li>
        <li>
            <a href="#">Cash Reciepts</a>
        </li>
        <li>
            <a href="#">Consignments</a>
        </li>
        <li>
            <a href="#">Setup</a>
        </li>
        <li>
            <a href="#">Reports</a>
        </li>
    </ul>

</div>
<div class="panel-headingnavy">


    <ul class="tabs tabsbottom">

        <li>
            <a href="/Division/Create">Division</a>
        </li>
        <li>
            <a href="/Company/Create">Company</a>
        </li>
        <li>
            <a href="/Department/Create">Department</a>
        </li>
        <li>
            <a href="/Produce/Create">Produce</a>
        </li>

    </ul>

</div>