<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="~/Content/css/PrimeActsStyles.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="script.js"></script>
    <title>Prime Accounts</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="backgroundLogo">

@Html.Partial("_LayoutHeader")


<div class="LoginForm navbar-right">

    <fieldset class="fieldset-desktop">
        <div class="container-fluid">
            <div class="row">

                <table align="center">
                    <tr>
                        <td>
                            <img src="~/Content/images/tester.png"/>
                        </td>
                    </tr>
                </table>


                @RenderBody()

            </div>
        </div>
    </fieldset>

</div>


</body>
</html>