
<div class="col-md-12">
    <h4>
        Welcome to PrimeActs.  </h4>
    <h4>Here's a list of the recent activity.</h4>
    <h4>  <i>Search by name, code or reference number to find the item you are searching for or simply click on the links below.</i>
    </h4>
</div>


<div class="col-md-8">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <p class="panel-title">&nbsp;</p>
                <div class="col-md-12">

                    <div class="col-md-2"></div>
                    <div class="col-md-6"><input class="form-control searchBox"  type="text" placeholder="Granny Smith or AB Fruits or Tu123344"></div>
                    <div class="col-md-1"><button class="btn btn-new">Search</button></div>
                    <div class="col-md-1"><button class="btn btn-new">Cancel</button></div>
                    <div class="col-md-2"></div>
                    <br />
                </div>
                <p>&nbsp;</p>
         
            </div>

            <div class="panel-body">

            
                <div class="col-md-12">

                    <div class="col-md-2"></div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>

                    <div class="col-md-2"></div>

                </div>
                <div class="rowCustDet Headerlinks col-md-12">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="~/Home/Index">Supplier/Customer<span class="glyphicon glyphicon-sort"></span></a></div>
                    <div class="col-md-3"><a href="~/Home/Index">Reference<span class="glyphicon glyphicon-sort"></span></a></div>
                    <div class="col-md-3"><a href="~/Home/Index">Created By<span class="glyphicon glyphicon-sort"></span></a></div>
                    <div class="col-md-2"><a href="~/Home/Index">Date/Time<span class="glyphicon glyphicon-sort"></span></a></div>

                </div>
                <div class="Headerlinks col-md-12">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>

                </div>
                <div class="rowCustDet col-md-12">
                    
                        <div class="col-md-1"><a href="~/tabpanel/index/3"><img src="~/Content/images/IconConsignment.png" /></a></div>
                        <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                        <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                        <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                        <div class="col-md-2"><a href="~/Tabpanel/index/4">14.05</a></div>
                    
                   
                </div>
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>
           
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>
      
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>
   
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                   <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                       <div class="col-md-2">12/12/2016 15.15</div>

                </div>
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
        
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>


                </div>
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>

                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>

                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>

                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>
                <div class="rowCustDet col-md-12">
                    <div class="col-md-1"><img src="~/Content/images/IconConsignment.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/5">Berry Gardens Ltd.</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">WE3456</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/4">Aruna</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>

                </div>
                <div class="rowCustDet col-md-12">

                    <div class="col-md-1"><img src="~/Content/images/ticket.png" /></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Gerber</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">TO2333</a></div>
                    <div class="col-md-3"><a href="~/Tabpanel/index/3">Matt</a></div>
                    <div class="col-md-2">12/12/2016 15.15</div>
                </div>

            </div>

            <div class="panel-heading clearfix">
                <p class="panel-title">&nbsp;</p>
                <div class="col-md-12">

                    <div class="col-md-2"></div>
                    <div class="col-md-2"><a href="~/Tabpanel/index/3" class="btn btn-new">Consignment&nbsp;<span class="glyphicon glyphicon glyphicon-new-window"></span></a></div>
                    <div class="col-md-2"><a href="~/TabPanel/index/19" class="btn btn-new">Credit Ticket&nbsp;<span class="glyphicon glyphicon glyphicon-new-window"></span></a></div>
                    <div class="col-md-2"><a href="~/Tabpanel/index/18" class="btn btn-new">Cash Ticket&nbsp;<span class="glyphicon glyphicon glyphicon-new-window"></span></a></div>
                    <div class="col-md-2"><a href="~/Tabpanel/index/20" class="btn btn-new">Receipt&nbsp;<span class="glyphicon glyphicon glyphicon-new-window"></span></a></div>

                    <div class="col-md-2"></div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>

