<div class="col-md-8">

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Sales Dashboard</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li> Ticket #123456</li>
            <li> Ticket #123456</li>
            <li> Ticket #123456</li>
            <li> Ticket #123456</li>
            <li> Ticket #123456</li>
            <li> Ticket #123456</li>
        </ul>


    </div>

</div>
<div class="panel panel-default">
    TEST
</div>