@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/PrimeActsLayout.cshtml";
}

<h1 class="text-danger">Not Authorized.</h1>
<h2 class="text-danger">You are not authorized to view this page.</h2>