@{
    ViewBag.Title = "Guid Test";
}

<h2>Guid Test</h2>

<div class="container">
    <div class="row">
        <button class="btn btn-primary" onclick="fnGetGuid()">Get GUID</button>
        @Html.ActionLink("Demo", "PostTestGuid")
    </div>
    <div id="insertPoint">
        Results<br />
    </div>
</div>

<script type="text/javascript">
    function fnGetGuid() {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/TestGuidGenerator/PostTestGuid',
            success: function (result) {
                document.getElementById('insertPoint').innerHTML = document.getElementById('insertPoint').innerHTML + result + '<br>';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                 alert(textStatus);
            }
        });
    }
</script>