
    <div class="container col-md-8">
       <div class="panel panel-default">
           <div class="panel-heading">
               <br />
               Create StockBoard
              
           </div>
           <div class="panel-body">
                <div>Please select which departments you would like to see on this Stock Board</div>
               <!--TODO:Make this checkbox a dynamic list of departments to be clicked on and to determine what feeds should be displayed-->
               <div><span class="NavigationLinks">Prime Acts</span></div>
               <div class="col-md-12"><input type="checkbox" />Covent Garden</div>
               <div class="col-md-12"><input type="checkbox" />Western International</div>
               <div class="col-md-12"><input type="checkbox" />Fruit</div>
               <div>&nbsp;</div>
               <div><span class="NavigationLinks">Side Salads</span></div>
               <div class="col-md-12"><input type="checkbox" />Covent Garden</div>
               <div class="col-md-12"><input type="checkbox" />Western International</div>
               <div class="col-md-12"><input type="checkbox" />Fruit</div>
               <div>&nbsp;</div>
               <!--TODO:Make this checkbox a dynamic list of produce groups to be clicked on and to determine what feeds should be displayed-->
               <div>Please select which Produce Groups you would like to see on this Stock Board</div>
               <div><span class="NavigationLinks"></span></div>
               <div class="col-md-12"><input type="checkbox" />Apples</div>
               <div class="col-md-12"><input type="checkbox" />Oranges</div>
               <div class="col-md-12"><input type="checkbox" />Sprouts</div>
               <div>&nbsp;</div>
               
           </div>
           <div class="panel-footer">
               <div><a class="btn btn-default" href="~/Stockboard/LiveStockboard" target="_new">Create Stock Board >></a></div>


           </div>
       </div>
       
    </div>
    <div class="container col-md-4"></div>