@using System.Web.Script.Serialization
@model PrimeActs.Domain.ViewModels.Department.DepartmentEditModel
<script src="~/KJScripts/Helper.js"></script>
<script src="~/KJScripts/Department/DepartmentCreateTab.js"></script>
@{
    var data = new JavaScriptSerializer().Serialize(Model);
}
<style type="text/css">
    label {
        display: block;
    }

    .validationMessage {
        color: Red;
    }

    .customMessage {
        color: Orange;
    }

    .required-field {
        border: 2px solid red !important;
        color: red;
    }
</style>

<div class="col-md-8" id=@ViewBag.DepartmentPanel>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title text-center">Create Department</h3>
        </div>
        <div class="panel-body">
            <div class="row"></div>
            <div class="row">
                <ul data-bind="foreach: Department().servererrors">
                    <li class="field-validation-error" data-bind="text: $data"></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    Name
                </div>
                <div class="col-sm-7">
                    <span class="col-sm-6"><input type="text" class="form-control" data-bind="value: Department().DepartmentName, css:{'required-field':Department().showerror(Department().DepartmentName)}, valueUpdate: 'afterkeydown'" /></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    Division
                </div>
                <div class="col-sm-7">
                    <span class="col-sm-6">
                        <select height="5" data-bind="options: DivisionList(), selectedOptions: Department().RelatedDivisionId, optionsText: 'optionText', optionsValue: 'optionValue'" class="form-control">  </select>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                    <span class="col-sm-6">
                        <input type="submit" class="btn btn-default  pull-right" value="Create" data-bind="click: function (){createDepartment($data)}" />
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var Department = new DepartmentModel(@Html.Raw(data));
    ko.validation.init({
        registerExtenders: true,
        messagesOnModified: true,
        insertMessages: true

    });
    var department_panel_name = '@(ViewBag.DepartmentPanel)';
    ko.applyBindings(Department, document.getElementById(department_panel_name));
</script>