<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Journal Entry
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-responsive">
                    <thead>

                        <tr><td></td></tr>
                        
                    </thead>
                    <tbody>
                           <tr><td>2</td></tr>
                        <tr><td>3</td></tr>
                        <tr><td>4</td></tr>
                           </tbody>

                </table>
            </div>
        </div>

    </div>


</div>
<div class="col-md-4"></div>