<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <p class="panel-title">Sundry Invoice Entry - Sales Ledger</p>
        </div>
        <div class="panel-bodybordered">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <input type="radio" name="Flag" value="True" checked>True
                    </div>
                    <div class="col-md-1">
                        <input type="radio" name="Flag" value="False">False
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Code
                        <input type="text" class="form-control" placeholder="Customer Code" />
                    </div>
                    <div class="col-md-6">
                        Name
                        <input type="text" class="form-control" placeholder="Customer Name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Reference
                        <input type="text" class="form-control" placeholder="Reference" />
                    </div>
                    <div class="col-md-3">
                        Invoice Date
                        <input type="text" class="form-control" placeholder="04/03/2016" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Per
                        <input type="text" class="form-control" placeholder="Per" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Total
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>
                    <div class="col-md-3">
                        VAT
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>
                    <div class="col-md-3">
                        Net
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-md-offset-9">Total for Allocation:</div>
                <div class="col-md-1"><span>0.00</span></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-9">Total Allocated:</div>
                <div class="col-md-1"><span>0.00</span></div>
            </div>
        </div>
    </div>
</div>
