<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <p class="panel-title">Manual Invoice Entry</p>
        </div>
        <div class="panel-bodybordered">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        Code
                        <input type="text" class="form-control" placeholder="Customer Code" />
                    </div>
                    <div class="col-md-4">
                        Name
                        <input type="text" class="form-control" placeholder="Customer Name" />
                    </div>
                    <div class="col-md-4">
                        Date
                        <input type="text" class="form-control" placeholder="04/03/2016" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Our Reference
                        <input type="text" class="form-control" placeholder="Our Reference" />
                    </div>
                    <div class="col-md-4">
                        Client Reference
                        <input type="text" class="form-control" placeholder="Client Reference" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Narrative - Press TAB to exit narrative
                        <textarea class="form-control" placeholder="Narrative" rows="6"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Quantity
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>
                    <div class="col-md-3">
                        Price
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>
                    <div class="col-md-3">
                        Total
                        <input type="text" class="form-control" placeholder="0.00" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-md-offset-9">Lines For Invoice:</div>
                <div class="col-md-1"><span>0</span></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-9">Total Quantity:</div>
                <div class="col-md-1"><span>0.00</span></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-9">Total Value:</div>
                <div class="col-md-1"><span>0.00</span></div>
            </div>
        </div>
    </div>
</div>
