<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Customer Department Details
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Customer Details
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Customer Name
                </div>
                <div class="col-md-4">Gerber</div>
                <div class="col-md-4">GERB</div>
            </div>
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Cash Limit
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Credit Limit
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Credit Rating
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Statements
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                &nbsp;
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Allow transfers?
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>

        </div>
    </div>
</div>
<div class="col-md-4">
    context menu
</div>