@using System.Web.Script.Serialization
@model PrimeActs.UI.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/KJScripts/Helper.js"></script>

<script src="~/KJScripts/ForgotPasswordEmailVarification.js"></script>
@{
    var data = new JavaScriptSerializer().Serialize(Model);
}<style type="text/css">
     label { display: block; }

     .validationMessage { color: Red; }

     .customMessage { color: Orange; }

     .required-field {
         border: 2px solid red !important;
         color: red;
     }
 </style>
<div class="col-md-6 col-md-offset-2">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
<br/>
<br/>
<br/>
<div class="col-md-3 col-xs-12" id="ForgotPassword">
    <div class="containerLogin center-block table-bordered ">

        <div class="row">
            <fieldset>
                <br/>
                <img id="loginImg" class="form-group center-block " src="~/Content/images/P&ILogo150x150.png"/>
                <br/>
                <div class="col-md-8 col-md-offset-2">
                    <ul data-bind="foreach: ForgotPassword().servererrors">
                        <li class="field-validation-error" data-bind="text: $data"></li>
                    </ul>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h5> Cannot access your account? </h5>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <p> Forgotten your password? Reset it by pressing the button below. </p>
                        <input type="text" class="form-control" placeholder="Enter your Username" data-bind="value: ForgotPassword().Username, css:{'required-field':ForgotPassword().showerror(ForgotPassword().Username)}, valueUpdate: 'afterkeydown'"/>
                    </div>
                    <div class="noMargin col-sm-12 col-md-12">
                        <input type="submit" class="btn btn-default  pull-right" value="Reset Password" data-bind="click: function (){forgotPassword($data)}"/>
                    </div>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <br/>
                    </div>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <p> Lost your verification email? Resend it by pressing the button below. </p>
                        <input type="submit" class="btn btn-default  pull-right" value="Resend Confirmation" data-bind="click: function (){forgotConfirmation($data)}"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    var forgotPassword = new ForgotPasswordModel(@Html.Raw(data));
    ko.validation.init({
        registerExtenders: true,
        messagesOnModified: true,
        insertMessages: true
    });
    ko.applyBindings(forgotPassword, document.getElementById("ForgotPassword"));
</script>