@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <div class="col-md-5">
            <p>
                Please check your email to reset your password.

                <img src="~/Content/images/inbox.jpg"/>

            </p>
        </div>
    </div>
</div>