@using System.Web.Script.Serialization
@model PrimeActs.UI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/KJScripts/Helper.js"></script>
<script src="~/KJScripts/ResetPassword.js"></script>
@{
    var data = new JavaScriptSerializer().Serialize(Model);
}
<div class="col-md-6 col-md-offset-2">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
<br/>
<br/>
<br/>
<div class="col-md-3 col-xs-12" id="User">
    <div class="containerLogin center-block table-bordered ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul data-bind="foreach: User().servererrors">
                    <li class="field-validation-error" data-bind="text: $data"></li>
                </ul>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="col-md-8 col-md-offset-2">
                <fieldset>
                    <br/>
                    <img id="loginImg" class="form-group center-block " src="~/Content/images/P&ILogo150x150.png"/>
                    <h4>Reset your password.</h4>
                    <hr/>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <input type="text" class="form-control" placeholder="Username" data-bind="value: User().Username, css:{'required-field':User().showerror(User().Username)}, valueUpdate: 'afterkeydown'" />
                    </div>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <input type="Password" class="form-control" placeholder="Password" data-bind="value: User().Password, css:{'required-field':User().showerror(User().Password)}, valueUpdate: 'afterkeydown'" />
                    </div>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <input type="Password" class="form-control" placeholder="ConfirmPassword" data-bind="value: User().ConfirmPassword, css:{'required-field':User().showerror(User().ConfirmPassword)}, valueUpdate: 'afterkeydown'" />
                    </div>
                    <div class="col-md-12 center-block col-xs-offset-2  col-xs-8">
                        <br />
                        <div class="text-center">
                            <input type="submit" class="btn btn-default" value="Change Password" data-bind="click: function (){reset($data)}" />
                            <br /><br />
                            <input type="button" class="btn btn-default" value="Go to Log In" data-bind="click: function (){login()}" />
                        </div>
                    </div>
                    <br/>
                </fieldset>
                <br/>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var user = new UserModel(@Html.Raw(data))
    ko.validation.init({
        registerExtenders: true,
        messagesOnModified: true,
        insertMessages: true

    });
    ko.applyBindings(user, document.getElementById("User"));
</script>