@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="col-md-8" id="registration">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="panel-title">Reset Password</span>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">

                    <div>
                        <p>
                            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", null, new {id = "loginLink"})
                        </p>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>