<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2" targetFramework="net45" />
  <package id="Elmah.Mvc" version="2.1.2" targetFramework="net45" />
  <package id="FluentValidation" version="6.1.0.0" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.4-beta1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>