

<div class="container-fluid">
    <div class="col-sm-8">

        <h1>Daily Sales Summary</h1>
                
        <p>Produce Group:  AVOC</p>

        <p>Produce:  AVOCADOS</p>
        <!--tESTING LOCAL0.02-->
        <div class="table-striped">
            <table width="600" border="1">
                <thead>
                    <tr>
                        <td>Consignment #</td>
                        <td>Received Date</td>
                        <td>Supplier-Code</td>
                        <td>Mark</td>
                        <td>Pack Weight</td>
                        <td>Pack Size</td>
                        <td>Pack Type</td>
                    </tr>

                </thead>
               <tbody class="table-striped table-hover">
                
                   <tr>
                       <td rowspan="3">243408</td>
                       <td>16/03/2015</td>
                       <td>POUPART-POWX</td>
                       <td>Cerval</td>
                       <td>0.00</td>
                       <td>12</td>
                       <td> </td>

                   </tr>
                   <tr>
                  
                       <template id="cellstorepeat" >
                               <td>template 123</td>
                               <td>16/03/2015</td>
                               <td>POUPART-POWX</td>
                               <td>Cerval</td>
                               <td>0.00</td>
                               <td>12</td>
                               <td> </td>

                 
                   </template>
                   </tr>
                <tr>
                    <td>243408</td>
                    <td>Received Date</td>
                    <td>GreenCell-GREC</td>
                    <td>Cerval</td>
                    <td>0.00</td>
                    <td>12</td>
                    <td> </td>

                </tr>
                   <tr>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td> </td>

                   </tr>
                  
               </tbody>
                  <tbody class="table-striped table-hover">
                
                   <tr>
                       <td rowspan="3">243408</td>
                       <td>16/03/2015</td>
                       <td>POUPART-POWX</td>
                       <td>Cerval</td>
                       <td>0.00</td>
                       <td>12</td>
                       <td> </td>

                   </tr>
                   <tr>
                  
                       <template id="cellstorepeat" >
                               <td>template 123</td>
                               <td>16/03/2015</td>
                               <td>POUPART-POWX</td>
                               <td>Cerval</td>
                               <td>0.00</td>
                               <td>12</td>
                               <td> </td>

                 
                   </template>
                   </tr>
                <tr>
                    <td>243408</td>
                    <td>Received Date</td>
                    <td>GreenCell-GREC</td>
                    <td>Cerval</td>
                    <td>0.00</td>
                    <td>12</td>
                    <td> </td>

                </tr>
                      <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td> </td>

                      </tr>
               </tbody>
                <tbody class="table-striped table-hover">

                    <tr>
                        <td rowspan="3">243408</td>
                        <td>16/03/2015</td>
                        <td>POUPART-POWX</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>

                        <template id="cellstorepeat">
                            <td>template 123</td>
                            <td>16/03/2015</td>
                            <td>POUPART-POWX</td>
                            <td>Cerval</td>
                            <td>0.00</td>
                            <td>12</td>
                            <td> </td>


                        </template>
                    </tr>
                    <tr>
                        <td>243408</td>
                        <td>Received Date</td>
                        <td>GreenCell-GREC</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td> </td>

                    </tr>
                </tbody>
                <tbody class="table-striped table-hover">

                    <tr>
                        <td rowspan="3">243408</td>
                        <td>16/03/2015</td>
                        <td>POUPART-POWX</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>

                        <template id="cellstorepeat">
                            <td>template 123</td>
                            <td>16/03/2015</td>
                            <td>POUPART-POWX</td>
                            <td>Cerval</td>
                            <td>0.00</td>
                            <td>12</td>
                            <td> </td>


                        </template>
                    </tr>
                    <tr>
                        <td>243408</td>
                        <td>Received Date</td>
                        <td>GreenCell-GREC</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td> </td>

                    </tr>
                </tbody>
                <tbody class="table-striped table-hover">

                    <tr>
                        <td rowspan="3">243408</td>
                        <td>16/03/2015</td>
                        <td>POUPART-POWX</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>

                        <template id="cellstorepeat">
                            <td>template 123</td>
                            <td>16/03/2015</td>
                            <td>POUPART-POWX</td>
                            <td>Cerval</td>
                            <td>0.00</td>
                            <td>12</td>
                            <td> </td>


                        </template>
                    </tr>
                    <tr>
                        <td>243408</td>
                        <td>Received Date</td>
                        <td>GreenCell-GREC</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                  
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td> </td>

                    </tr>

                </tbody>
                <tbody class="table-striped">

                    <tr>
                        <td rowspan="3">243408</td>
                        <td>16/03/2015</td>
                        <td>POUPART-POWX</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>

                        <template id="cellstorepeat">
                            <td>template 123</td>
                            <td>16/03/2015</td>
                            <td>POUPART-POWX</td>
                            <td>Cerval</td>
                            <td>0.00</td>
                            <td>12</td>
                            <td> </td>


                        </template>
                    </tr>
                    <tr>
                        <td>243408</td>
                        <td>Received Date</td>
                        <td>GreenCell-GREC</td>
                        <td>Cerval</td>
                        <td>0.00</td>
                        <td>12</td>
                        <td> </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td> </td>

                    </tr>
                </tbody>


            </table>
        


        </div>

    </div>
</div>
