@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

<div class="col-md-12">
&nbsp;
</div>
<div class="col-md-12">
&nbsp;
</div>

<div class="col-md-12">Top menu</div>
<div class="col-md-12">
    <div class="col-md-8">
        <table class="table-responsive table-hover">
            <thead>
                <tr class="default">
                    <th >Produce</th>
                    <th> Stock</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="Oranges">Oranges</a></td>
                    <td>50</td>
                    <td>in stock</td>
                </tr>
                <tr>
                    <td>Apples</td>
                    <td class="info">100</td>
                    <td>oversold</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>








    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">Menu</div>

                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">Menu 2</div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">Menu 2</div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">Menu 2</div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">Menu 2</div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">Menu 2</div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>