<style>
    input {
        width: 75px;
    }

    td {
        width: 75px;
    }

    th {
        color: #666;
        font-size: .8em;
    }

    .buttons {
        width: 150px;
    }
</style>
<link href="~/Content/css/PrimeActsStyles.css" rel="stylesheet" />
<script src="~/Views/Demo/Stockboard.js"></script>
<script>

    $(document).ready(function () {

        $(".slidingDiv").hide();
        $(".show_hide").show();
        $('.show_hide').click(function () {
            $(".slidingDiv").slideToggle();
        });

        $(".slidingDiv2").hide();
        $(".show_hide2").show();
        $('.show_hide2').click(function () {
            $(".slidingDiv2").slideToggle();
        });

        $(".slidingDiv3").hide();
        $(".show_hide3").show();
        $('.show_hide3').click(function () {
            $(".slidingDiv3").slideToggle();
        });

        $(".slidingDiv4").hide();
        $(".show_hide4").show();
        $('.show_hide4').click(function () {
            $(".slidingDiv4").slideToggle();
        });

        $(".slidingDiv5").hide();
        $(".show_hide5").show();
        $('.show_hide5').click(function () {
            $(".slidingDiv5").slideToggle();
        });

        $(".slidingDiv6").hide();
        $(".show_hide6").show();
        $('.show_hide6').click(function () {
            $(".slidingDiv6").slideToggle();
        });

        $(".slidingDiv7").hide();
        $(".show_hide7").show();
        $('.show_hide7').click(function () {
            $(".slidingDiv7").slideToggle();
        });

        $(".slidingDiv8").hide();
        $(".show_hide8").show();
        $('.show_hide8').click(function () {
            $(".slidingDiv8").slideToggle();
        });

        $(".slidingDiv9").hide();
        $(".show_hide").show();
        $('.show_hide9').click(function () {
            $(".slidingDiv9").slideToggle();
        });

        $(".slidingDiv10").hide();
        $(".show_hide10").show();
        $('.show_hide10').click(function () {
            $(".slidingDiv10").slideToggle();
        });

        $(".slidingDiv11").hide();
        $(".show_hide11").show();
        $('.show_hide11').click(function () {
            $(".slidingDiv11").slideToggle();
        });

        $(".slidingDiv12").hide();
        $(".show_hide12").show();
        $('.show_hide12').click(function () {
            $(".slidingDiv12").slideToggle();
        });

        $(".slidingDiv13").hide();
        $(".show_hide13").show();
        $('.show_hide13').click(function () {
            $(".slidingDiv13").slideToggle();
        });

        $(".slidingDiv14").hide();
        $(".show_hide14").show();
        $('.show_hide14').click(function () {
            $(".slidingDiv14").slideToggle();
        });

        $(".slidingDiv15").hide();
        $(".show_hide15").show();
        $('.show_hide15').click(function () {
            $(".slidingDiv15").slideToggle();
        });

        $(".slidingDiv16").hide();
        $(".show_hide16").show();
        $('.show_hide16').click(function () {
            $(".slidingDiv16").slideToggle();
        });

        $(".slidingDiv17").hide();
        $(".show_hide17").show();
        $('.show_hide17').click(function () {
            $(".slidingDiv17").slideToggle();
        });

        $(".slidingDiv18").hide();
        $(".show_hide18").show();
        $('.show_hide18').click(function () {
            $(".slidingDiv18").slideToggle();
        });

        $(".slidingDiv19").hide();
        $(".show_hide19").show();
        $('.show_hide19').click(function () {
            $(".slidingDiv19").slideToggle();
        });

        $(".slidingDiv20").hide();
        $(".show_hide20").show();
        $('.show_hide20').click(function () {
            $(".slidingDiv120").slideToggle();
        });

        $(".slidingDiv21").hide();
        $(".show_hide21").show();
        $('.show_hide21').click(function () {
            $(".slidingDiv21").slideToggle();
        });

        $(".slidingDiv22").hide();
        $(".show_hide22").show();
        $('.show_hide22').click(function () {
            $(".slidingDiv22").slideToggle();
        });

        $(".slidingDiv23").hide();
        $(".show_hide23").show();
        $('.show_hide23').click(function () {
            $(".slidingDiv23").slideToggle();
        });

        $(".slidingDiv24").hide();
        $(".show_hide24").show();
        $('.show_hide24').click(function () {
            $(".slidingDiv24").slideToggle();
        });

        $(".slidingDiv25").hide();
        $(".show_hide25").show();
        $('.show_hide25').click(function () {
            $(".slidingDiv25").slideToggle();
        });

        $(".slidingDiv26").hide();
        $(".show_hide26").show();
        $('.show_hide26').click(function () {
            $(".slidingDiv26").slideToggle();
        });

        $(".slidingDiv27").hide();
        $(".show_hide27").show();
        $('.show_hide27').click(function () {
            $(".slidingDiv27").slideToggle();
        });

        $(".slidingDiv28").hide();
        $(".show_hide28").show();
        $('.show_hide28').click(function () {
            $(".slidingDiv28").slideToggle();
        });

        $(".slidingDiv29").hide();
        $(".show_hide29").show();
        $('.show_hide29').click(function () {
            $(".slidingDiv29").slideToggle();
        });

        $(".slidingDiv30").hide();
        $(".show_hide30").show();
        $('.show_hide30').click(function () {
            $(".slidingDiv30").slideToggle();
        });

        $(".slidingDiv31").hide();
        $(".show_hide31").show();
        $('.show_hide31').click(function () {
            $(".slidingDiv31").slideToggle();
        });

        $(".slidingDiv32").hide();
        $(".show_hide32").show();
        $('.show_hide32').click(function () {
            $(".slidingDiv32").slideToggle();
        });

        $(".slidingDiv33").hide();
        $(".show_hide33").show();
        $('.show_hide33').click(function () {
            $(".slidingDiv33").slideToggle();
        });

        $(".slidingDiv34").hide();
        $(".show_hide34").show();
        $('.show_hide34').click(function () {
            $(".slidingDiv34").slideToggle();
        });

        $(".slidingDiv35").hide();
        $(".show_hide35").show();
        $('.show_hide35').click(function () {
            $(".slidingDiv35").slideToggle();
        });

        $(".slidingDiv36").hide();
        $(".show_hide36").show();
        $('.show_hide36').click(function () {
            $(".slidingDiv36").slideToggle();
        });

        $(".slidingDiv37").hide();
        $(".show_hide37").show();
        $('.show_hide37').click(function () {
            $(".slidingDiv37").slideToggle();
        });

        $(".slidingDiv38").hide();
        $(".show_hide38").show();
        $('.show_hide38').click(function () {
            $(".slidingDiv38").slideToggle();
        });


        $(".slidingDiv39").hide();
        $(".show_hide39").show();
        $('.show_hide39').click(function () {
            $(".slidingDiv39").slideToggle();
        });

        $(".slidingDiv40").hide();
        $(".show_hide40").show();
        $('.show_hide40').click(function () {
            $(".slidingDiv40").slideToggle();
        });

        $(".slidingDiv41").hide();
        $(".show_hide41").show();
        $('.show_hide41').click(function () {
            $(".slidingDiv41").slideToggle();
        });

        $(".slidingDiv42").hide();
        $(".show_hide42").show();
        $('.show_hide42').click(function () {
            $(".slidingDiv42").slideToggle();
        });

        $(".slidingDiv43").hide();
        $(".show_hide43").show();
        $('.show_hide43').click(function () {
            $(".slidingDiv43").slideToggle();
        });

        $(".slidingDiv44").hide();
        $(".show_hide44").show();
        $('.show_hide44').click(function () {
            $(".slidingDiv44").slideToggle();
        });

        $(".slidingDiv45").hide();
        $(".show_hide45").show();
        $('.show_hide45').click(function () {
            $(".slidingDiv45").slideToggle();
        });

        $(".slidingDiv46").hide();
        $(".show_hide46").show();
        $('.show_hide46').click(function () {
            $(".slidingDiv46").slideToggle();
        });

        $(".slidingDiv47").hide();
        $(".show_hide47").show();
        $('.show_hide47').click(function () {
            $(".slidingDiv47").slideToggle();
        });

        $(".slidingDiv48").hide();
        $(".show_hide48").show();
        $('.show_hide48').click(function () {
            $(".slidingDiv48").slideToggle();
        });

        $(".slidingDiv49").hide();
        $(".show_hide49").show();
        $('.show_hide49').click(function () {
            $(".slidingDiv49").slideToggle();
        });

        $(".slidingDiv50").hide();
        $(".show_hide50").show();
        $('.show_hide50').click(function () {
            $(".slidingDiv50").slideToggle();
        });

        $(".slidingDiv51").hide();
        $(".show_hide51").show();
        $('.show_hide51').click(function () {
            $(".slidingDiv51").slideToggle();
        });

        $(".slidingDiv52").hide();
        $(".show_hide52").show();
        $('.show_hide52').click(function () {
            $(".slidingDiv52").slideToggle();
        });

        $(".slidingDiv53").hide();
        $(".show_hide53").show();
        $('.show_hide53').click(function () {
            $(".slidingDiv53").slideToggle();
        });

        $(".slidingDiv54").hide();
        $(".show_hide54").show();
        $('.show_hide54').click(function () {
            $(".slidingDiv54").slideToggle();
        });

        $(".slidingDiv55").hide();
        $(".show_hide55").show();
        $('.show_hide55').click(function () {
            $(".slidingDiv55").slideToggle();
        });

        $(".slidingDiv56").hide();
        $(".show_hide56").show();
        $('.show_hide56').click(function () {
            $(".slidingDiv56").slideToggle();
        });

        $(".slidingDiv57").hide();
        $(".show_hide57").show();
        $('.show_hide57').click(function () {
            $(".slidingDiv57").slideToggle();
        });

        $(".slidingDiv58").hide();
        $(".show_hide58").show();
        $('.show_hide58').click(function () {
            $(".slidingDiv58").slideToggle();
        });

        $(".slidingDiv59").hide();
        $(".show_hide59").show();
        $('.show_hide59').click(function () {
            $(".slidingDiv59").slideToggle();
        });

        $(".slidingDiv60").hide();
        $(".show_hide60").show();
        $('.show_hide60').click(function () {
            $(".slidingDiv60").slideToggle();
        });

        $(".slidingDiv61").hide();
        $(".show_hide61").show();
        $('.show_hide61').click(function () {
            $(".slidingDiv23").slideToggle();
        });

       
    });
</script>


    <div class="col-md-12">
        <div class="col-md-3">
            <div class="col-md-1"> &nbsp; </div>
            <div class="col-md-1 ">
                &nbsp; Sold &nbsp;&nbsp;
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1 ">
                &nbsp;  Unsold
            </div>
        </div>
    </div>
    <div id="col1" class="col-md-3 ">

    Oranges <a href="#" class="show_hide">+ </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="slidingDiv table" style="display: block;">
                <thead></thead>
                <tbody class="table-striped">
                    <tr>
                        <td style="color:black; font-weight:bold">ORANGES SHAMOUTI</td>
                        <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>DELTA ORANGES</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>NAVEL ORANGES</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

    <div id="col2" class="col-md-3 " >
    VEG  &nbsp; <a href="#" class="show_hide2">+  &nbsp;&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="slidingDiv2  table" style="display: block;">
                <thead></thead>
                <tbody class="table-striped">

                    <tr>
                        <td style="color:black; font-weight:bold">GARLIC</td>
                        <td contenteditable style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>LETTUCE COS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>BAYLEAF</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG2 <a href="#" class="show_hide3">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv3  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


    <div id="col2" class="col-md-3 " >
    ENDR &nbsp;<a href="#" class="show_hide4">&nbsp;+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="slidingDiv4  table" style="display: block;">
                <thead></thead>
                <tbody class="table-striped">

                    <tr>
                        <td style="color:black; font-weight:bold">GARLIC</td>
                        <td contenteditable style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>LETTUCE COS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>BAYLEAF</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

    <br />
  
    <br />
    <div class="col-md-12"></div>



    <div id="col2" class="col-md-3 " >
    Apples&nbsp;  <a href=" #" class="show_hide5">+&nbsp; </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="table table-striped slidingDiv5" style="display: block;">
                <thead></thead>
                <tbody class="table-striped  table">
                    <tr>
                        <td style="color:black; font-weight:bold">STARKING APPLES</td>
                        <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>

                    </tr>
                    <tr>
                        <td>STURMER PIPPIN APPLES</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>STARKRIMSON APPLES</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>

            </table>
        </div>
</div>

    <div id="col2" class="col-md-3" >
    SALAD <a href="#" class="show_hide6">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="slidingDiv6" style="display: block;">
                <thead></thead>
                <tbody class="table-striped  table">

                    <tr>
                        <td style="color:black; font-weight:bold">BASIL</td>
                        <td contenteditable style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>BEANSPROUT</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>HERBS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG3 <a href="#" class="show_hide7">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv7  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div id="col2" class="col-md-3 " >
    ENDR2 <a href="#" class="show_hide8">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="slidingDiv8  table" style="display: block;">
                <thead></thead>
                <tbody class="table-striped">

                    <tr>
                        <td style="color:black; font-weight:bold">GARLIC</td>
                        <td contenteditable style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>LETTUCE COS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>BAYLEAF</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

    <br />
    <br />
    <div class="col-md-12"></div>

    <div id="col3" class="col-md-3" >
    Lemons <a href=" #" class="show_hide9">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered " contenteditable="true">
            <table class="slidingDiv9" style="display: block;">
                <thead></thead>
                <tbody class="table-striped  table">
                    <tr>
                        <td style="color:black; font-weight:bold"> LEMON GRASS</td>
                        <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>LEMONS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>

            </table>
        </div>
</div>

    <div id="col3" class="col-md-3 " >
    Plums&nbsp;&nbsp; <a href=" #" class="show_hide10">+&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered " contenteditable="true">
            <table class="slidingDiv10" style="display: block;">
                <thead></thead>
                <tbody class="table-striped  table">
                    <tr>
                        <td style="color:black; font-weight:bold">BLACK GOLD PLUMS</td>
                        <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>FORTUNA PLUMS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>BLACK DIAMOND PLUMS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>

            </table>
        </div>
</div>
<div id="col2" class="col-md-3 " >
    VEG4 <a href="#" class="show_hide11">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv11  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div id="col2" class="col-md-3 " >
    ENDR3 <a href="#" class="show_hide12">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
        <div class="table-bordered" contenteditable="true">
            <table class="slidingDiv12  table" style="display: block;">
                <thead></thead>
                <tbody class="table-striped">

                    <tr>
                        <td style="color:black; font-weight:bold">GARLIC</td>
                        <td contenteditable style="color:green; font-weight:bold">35</td>
                        <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                    </tr>
                    <tr>
                        <td>LETTUCE COS</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                    <tr>
                        <td>BAYLEAF</td>
                        <td contenteditable="true">35</td>
                        <td contenteditable="true">25</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>




<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-1"> &nbsp; </div>
        <div class="col-md-1 ">
            &nbsp; Sold &nbsp;&nbsp;
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1 ">
            &nbsp;  Unsold
        </div>
    </div>
</div>
<div id="col1" class="col-md-3 " >

    Oranges <a href="#" class="show_hide13">+ </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv13 table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">
                <tr>
                    <td style="color:black; font-weight:bold">ORANGES SHAMOUTI</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>DELTA ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>NAVEL ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG  &nbsp; <a href="#" class="show_hide14">+  &nbsp;&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv14  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG2 <a href="#" class="show_hide15">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv15  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="col2" class="col-md-3 " >
    ENDR &nbsp;<a href="#" class="show_hide16">&nbsp;+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv16  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<br />
<div class="col-md-12"></div>



<div id="col2" class="col-md-3 " >
    Apples&nbsp;  <a href=" #" class="show_hide17">+&nbsp; </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="table table-striped slidingDiv17" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">STARKING APPLES</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>

                </tr>
                <tr>
                    <td>STURMER PIPPIN APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>STARKRIMSON APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col2" class="col-md-3" >
    SALAD <a href="#" class="show_hide18">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv18" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">

                <tr>
                    <td style="color:black; font-weight:bold">BASIL</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>BEANSPROUT</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>HERBS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG3 <a href="#" class="show_hide19">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv19  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    ENDR2 <a href="#" class="show_hide20">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv20  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<div class="col-md-12"></div>

<div id="col3" class="col-md-3 " >
    Lemons <a href=" #" class="show_hide21">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv21" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold"> LEMON GRASS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LEMONS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col3" class="col-md-3 " >
    Plums&nbsp;&nbsp; <a href=" #" class="show_hide22">+&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv22" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">BLACK GOLD PLUMS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>FORTUNA PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BLACK DIAMOND PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div id="col2" class="col-md-3 " >
    VEG4 <a href="#" class="show_hide23">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv23  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 ">
    ENDR3 <a href="#" class="show_hide24">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv24  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-1"> &nbsp; </div>
        <div class="col-md-1 ">
            &nbsp; Sold &nbsp;&nbsp;
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1 ">
            &nbsp;  Unsold
        </div>
    </div>
</div>
<div id="col1" class="col-md-3 " >

    Oranges <a href="#" class="show_hide25">+ </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv25 table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">
                <tr>
                    <td style="color:black; font-weight:bold">ORANGES SHAMOUTI</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>DELTA ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>NAVEL ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG  &nbsp; <a href="#" class="show_hide26">+  &nbsp;&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv26  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG2 <a href="#" class="show_hide27">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv27  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="col2" class="col-md-3 " >
    ENDR &nbsp;<a href="#" class="show_hide28">&nbsp;+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv28  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<br />
<div class="col-md-12"></div>



<div id="col2" class="col-md-3 " >
    Apples&nbsp;  <a href=" #" class="show_hide29">+&nbsp; </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="table table-striped slidingDiv29" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">STARKING APPLES</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>

                </tr>
                <tr>
                    <td>STURMER PIPPIN APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>STARKRIMSON APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col2" class="col-md-3" >
    SALAD <a href="#" class="show_hide30">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv30" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">

                <tr>
                    <td style="color:black; font-weight:bold">BASIL</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>BEANSPROUT</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>HERBS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG3 <a href="#" class="show_hide31">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv31  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    ENDR2 <a href="#" class="show_hide32">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv32  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<div class="col-md-12"></div>

<div id="col3" class="col-md-3 " >
    Lemons <a href=" #" class="show_hide33">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv33" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold"> LEMON GRASS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LEMONS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col3" class="col-md-3 " >
    Plums&nbsp;&nbsp; <a href=" #" class="show_hide34">+&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv34" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">BLACK GOLD PLUMS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>FORTUNA PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BLACK DIAMOND PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div id="col2" class="col-md-3 " >
    VEG4 <a href="#" class="show_hide35">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv35  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    ENDR3 <a href="#" class="show_hide36">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv36  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-1"> &nbsp; </div>
        <div class="col-md-1 ">
            &nbsp; Sold &nbsp;&nbsp;
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1 ">
            &nbsp;  Unsold
        </div>
    </div>
</div>
<div id="col1" class="col-md-3 " >

    Oranges <a href="#" class="show_hide37">+ </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv37 table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">
                <tr>
                    <td style="color:black; font-weight:bold">ORANGES SHAMOUTI</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>DELTA ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>NAVEL ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG  &nbsp; <a href="#" class="show_hide38">+  &nbsp;&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv38  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG2 <a href="#" class="show_hide39">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv39  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="col2" class="col-md-3 " >
    ENDR &nbsp;<a href="#" class="show_hide40">&nbsp;+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv40 table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<br />
<div class="col-md-12"></div>



<div id="col2" class="col-md-3 " >
    Apples&nbsp;  <a href=" #" class="show_hide41">+&nbsp; </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="table table-striped slidingDiv41" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">STARKING APPLES</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>

                </tr>
                <tr>
                    <td>STURMER PIPPIN APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>STARKRIMSON APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col2" class="col-md-3" >
    SALAD <a href="#" class="show_hide42">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv42" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">

                <tr>
                    <td style="color:black; font-weight:bold">BASIL</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>BEANSPROUT</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>HERBS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG3 <a href="#" class="show_hide43">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv43  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    ENDR2 <a href="#" class="show_hide44">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv44  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<div class="col-md-12"></div>

<div id="col3" class="col-md-3 " >
    Lemons <a href=" #" class="show_hide45">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv45" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold"> LEMON GRASS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LEMONS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col3" class="col-md-3 " >
    Plums&nbsp;&nbsp; <a href=" #" class="show_hide46">+&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv46" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">BLACK GOLD PLUMS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>FORTUNA PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BLACK DIAMOND PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div id="col2" class="col-md-3 " >
    VEG4 <a href="#" class="show_hide47">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv47  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 ">
    ENDR3 <a href="#" class="show_hide48">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv48  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-1"> &nbsp; </div>
        <div class="col-md-1 ">
            &nbsp; Sold &nbsp;&nbsp;
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1 ">
            &nbsp;  Unsold
        </div>
    </div>
</div>
<div id="col1" class="col-md-3 " >

    Oranges <a href="#" class="show_hide49">+ </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv49 table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">
                <tr>
                    <td style="color:black; font-weight:bold">ORANGES SHAMOUTI</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>DELTA ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>NAVEL ORANGES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG  &nbsp; <a href="#" class="show_hide50">+  &nbsp;&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv50  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG2 <a href="#" class="show_hide51">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv51  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="col2" class="col-md-3 " >
    ENDR &nbsp;<a href="#" class="show_hide52">&nbsp;+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv52  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<br />
<div class="col-md-12"></div>



<div id="col2" class="col-md-3 " >
    Apples&nbsp;  <a href=" #" class="show_hide53">+&nbsp; </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="table table-striped slidingDiv53" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">STARKING APPLES</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>

                </tr>
                <tr>
                    <td>STURMER PIPPIN APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>STARKRIMSON APPLES</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col2" class="col-md-3" >
    SALAD <a href="#" class="show_hide54">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv54" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">

                <tr>
                    <td style="color:black; font-weight:bold">BASIL</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>BEANSPROUT</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>HERBS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    VEG3 <a href="#" class="show_hide55">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv55  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    ENDR2 <a href="#" class="show_hide56">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv56  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<div class="col-md-12"></div>

<div id="col3" class="col-md-3 " >
    Lemons <a href=" #" class="show_hide57">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv57" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold"> LEMON GRASS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LEMONS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div id="col3" class="col-md-3 " >
    Plums&nbsp;&nbsp; <a href=" #" class="show_hide58">+&nbsp;</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered " contenteditable="true">
        <table class="slidingDiv58" style="display: block;">
            <thead></thead>
            <tbody class="table-striped  table">
                <tr>
                    <td style="color:black; font-weight:bold">BLACK GOLD PLUMS</td>
                    <td contenteditable="true" style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>FORTUNA PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BLACK DIAMOND PLUMS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div id="col2" class="col-md-3 " >
    VEG4 <a href="#" class="show_hide59">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv59  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="col2" class="col-md-3 " >
    ENDR3 <a href="#" class="show_hide60">+</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <span> 105 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    &nbsp;
    &nbsp;
    <span> 75 </span>
    <div class="table-bordered" contenteditable="true">
        <table class="slidingDiv60  table" style="display: block;">
            <thead></thead>
            <tbody class="table-striped">

                <tr>
                    <td style="color:black; font-weight:bold">GARLIC</td>
                    <td contenteditable style="color:green; font-weight:bold">35</td>
                    <td contenteditable="true" style="color:red;  font-weight:bold">25</td>
                </tr>
                <tr>
                    <td>LETTUCE COS</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
                <tr>
                    <td>BAYLEAF</td>
                    <td contenteditable="true">35</td>
                    <td contenteditable="true">25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript">

    var test = 0;
    var viewModel = {
        //the item we're editing
        item: ko.observable(),

        //track whether we are editing
        editing: ko.observable(),

        // edit an item
        editItem: function () {
            this.editing(true);
        },

        // stop editing an item.
        stopEditing: function () {
            this.editing(false);
        },


    };

    ko.applyBindings(viewModel);

</script>





