@{
    
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
    

}
<!--tESTING CHANGES ak 09/12/2016 gitignore changes DevV0.0.2d-->
<!--tESTING CHANGES ak 05/12/2016 gitignore changes DevV0.0.2d-->
<!--tESTING CHANGES ak 05/12/2016 Branch DevV0.0.2d-->
<!--tESTING CHANGES 2 ak 05/12/2016 Branch DevV0.0.2d-->

    <div class="col-md-12">
        
        <div class="col-md-8">

     
         <!--test-->
 
            <div class="col-md-12">


                <ul class="nav nav-pills">

                    <li><a class="label-tab-navy" href="#">Ticket 9889</a></li>
                    <li><a class="label-tab-navy" href="#">Consignment 1234</a></li>
                    <li><a class="label-tab-navy" href="#">Ticket 12356</a></li>
                    <li><a class="label-tab-navy" href="#">Consignment 1234</a></li>
                    <li><a class="label-tab-navy" href="#">Order 1234</a></li>


                </ul>

       
                <div>&nbsp;</div>
                <div class="panel panel-default">
                
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Transfers</h3>
                    </div>
                    <div class="panel-body">
                     Transfer Stock
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="tab-content pull-right" href="~/Division/Index">Back to Divisions</a>
                </div>


            </div>
         
        

            
        </div>
        <div class="col-md-4">
        
            <div class="col-md-12">
                &nbsp;
            </div>
         
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>

            <div class="col-md-12 table">
                <img src="~/Content/images/IconBanking.png" />Create

            </div>
    
            <div class="col-md-12 table">
                <img src="~/Content/images/IconBanking.png" />Archive

            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12 table">
                <img src="~/Content/images/IconEditOrange.png" />Edit

            </div>
            <div class="col-md-12">
                &nbsp;<hr class="navbar-inverse" />
            </div>
            <div class="col-md-12">

                <img src="~/Content/images/IconArrow.png" />Recent

            </div>
            <div class="col-md-12">

                <hr class="navbar-inverse" />
            </div>
            <div class="col-md-12">
                <img src="~/Content/images/IconBanking.png" />Transfer 1
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                <img src="~/Content/images/IconEditOrange.png" />Order 2

            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                <img src="~/Content/images/IconConsignment.png" />Consignment 2

            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                <img src="~/Content/images/ticket.png" />Ticket 4
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>

        </div>


    </div>
