@model PrimeActs.UI.Models.ProduceViewModel

@{
    ViewBag.Title = "EmailTemplate";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container-fluid col-md-12">
        <div class="col-md-1 ">THE WEEKLY DOSE</div>
        <img class="col-md-10 center-block" src="~/Content/images/P&I Banner.png"/>
        <div class="col-md-1 ">
            <a href="#">VIEW IN BROWSER</a>
        </div>


    </div>
</div>
<hr>

<h4 > LATEST PRODUCE </h4>
<div class="row">
    <img class="col-md-3" style="width: 15%;" src="~/Content/images/first.jpg"/>
    <p class="col-md-9">
        Ian Taylor and Paul Emmett started P&I Fruits in 2000, operating from units C69-75. In 2001 we expanded to units D67-69 with P&I Exotics and started running the veg department headed up by Paul Bishop from C69. In 2005 we expanded once more and opened P&I Vegetables at D56. In 2011 we opened Side Salads, another feather in the cap of P&I!

        As a business we try and source as much produce from the United Kingdom as possible, having formed many long standing relationships with UK growers. We have built up a varied clientele ranging from New Covent Garden’s largest caterers to independent retail traders and market stall holders.

        As a company we pride ourselves in efficient professional service we follow this process all the way through from writing a ticket to the delivery of produce.
    </p>
</div>
<br/>
<div class="row">
    <img class="col-md-3" style="width: 15%;" src="~/Content/images/second.jpg"/>
    <p class="col-md-9">
        Ian Taylor and Paul Emmett started P&I Fruits in 2000, operating from units C69-75. In 2001 we expanded to units D67-69 with P&I Exotics and started running the veg department headed up by Paul Bishop from C69. In 2005 we expanded once more and opened P&I Vegetables at D56. In 2011 we opened Side Salads, another feather in the cap of P&I!

        As a business we try and source as much produce from the United Kingdom as possible, having formed many long standing relationships with UK growers. We have built up a varied clientele ranging from New Covent Garden’s largest caterers to independent retail traders and market stall holders.

        As a company we pride ourselves in efficient professional service we follow this process all the way through from writing a ticket to the delivery of produce.
    </p>
</div>
<br/>
<div class="row">
    <img class="col-md-3" style="width: 15%;" src="~/Content/images/third.jpg"/>
    <p class="col-md-9">
        Ian Taylor and Paul Emmett started P&I Fruits in 2000, operating from units C69-75. In 2001 we expanded to units D67-69 with P&I Exotics and started running the veg department headed up by Paul Bishop from C69. In 2005 we expanded once more and opened P&I Vegetables at D56. In 2011 we opened Side Salads, another feather in the cap of P&I!

        As a business we try and source as much produce from the United Kingdom as possible, having formed many long standing relationships with UK growers. We have built up a varied clientele ranging from New Covent Garden’s largest caterers to independent retail traders and market stall holders.

        As a company we pride ourselves in efficient professional service we follow this process all the way through from writing a ticket to the delivery of produce.
    </p>
</div>