<style> 

    .visiblegrid {
        border: 5px solid grey;
        border-left: none;
        border-radius: 5px;
        border-right: none;
    }
</style>
<div class="col-md-1 visiblegrid"> col 1</div>
<div class="col-md-6 visiblegrid"> col 2</div>
<div class="col-md-4 visiblegrid"> col 4</div>
<div class="col-md-1 visiblegrid"> col 5</div>