<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="LocalContext" connectionString="data source=SPILON04;initial catalog=PrimeActsDev_v0_0_13;persist security info=True;User ID=PrimeActsDEV;Password=piLIVE22@@;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
      <add name="AzureContext" connectionString="data source=mpi66vpdki.database.windows.net;initial catalog=synctest;persist security info=True;User ID=ArunaSQL;Password=piLIVE22@@;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>